

/* Boutons */

/* body.darkmode {
    background-color: #c8ad7f;
} */

/* input.darkmode {
    background-color: #3e3e3e;
    color: white;
} */

/* select.darkmode {
    background-color: #3e3e3e;
    color: white;
} */