@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

body {
    background-color: #e0c097;     
    min-height: 100%;
}

html{
    height : 100%; 
}



/*Test NavBar*/

.darkmode {
    background-color: #493A3A !important;    
}


 nav {
    z-index: 3;
    top: 1.3rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 3.75rem;
    background-color:  #493A3A;
}

.icons {
    cursor: pointer;
    display: none;
}

.centerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -3.6rem;
    margin-top: -2.8rem;
    background-color: #E0C097;
    width: 7.2rem;
    height: 9.3rem;
    border-radius: 50%;
}

.logo {
    height: 6.25rem;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 50%;
}
ul.menuLeft{
    padding-right: 2.5rem;
}

ul.menuRight{
    padding-left: 2.5rem;
 
}

ul li {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: #E0C097;
}

ul li:hover{
    background-color: #B85C38;
    color: #5C3D2E;
} 

/* Boutons */

body.darkmode {
    background-color: #c8ad7f;
}

input.darkmode {
    background-color: #3e3e3e;
    color: white;
}

select.darkmode {
    background-color: #3e3e3e;
    color: white;
}

.darkmodebtn::after {
    content: "🌑";
  }

.darkmodebtn.darkmode::after {
    content: "☀️";
  }

.centerCircle.darkmode {
    background-color: #c8ad7f;
}

.darkmodebtn {
    width: 100%;
    font-size: 2rem;
}

.motdefin.darkmode {
    color: #e0c097;
}

.profilEquipe h1.darkmode {
    color: #e0c097;
}

footer.darkmode {
    border-top: 2px solid #fff;
}

/* Footer */ 

footer {
    position: relative;
    bottom: 0;
    margin-top: 5rem;   
    width: 100%;    
    padding: 5px;
    background-color: #493A3A;
    color: #e0c097;
    text-decoration: none;
}


.jenesaispaslaquelle {    
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

footer li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;

}



.trait {    
    border-right: 2px solid #f1efef;
    display: inline-block;
    height: 4.375rem;
        
}

.réseau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;    
    border-left: 2px solid #f1efef;    
    height: 4.375rem;

}

.mail {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;    
    }

.mailFooter {
   padding-left: 0.5rem;
   font-size: 1.5rem;
}


.iconeMail {  
    display: flex;  
    height: 2rem;
    width: 2rem;
    padding-bottom: 0.4rem;       
}


.iconeRéseau {
    height: 2.5rem;
    width: 2.5rem;
    fill: white;
    
}

  
.mention {    
    display: flex;
    justify-content: center;
    gap: 1.5rem;   
}

h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;    
}

.horaires {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f1efef;
    height: 4.375rem;     
}


.flexiconeréseau {
    display: flex;
    justify-content: space-around;
    fill: white;
    gap: 1.5rem;
}




/*Media Query*/

@media screen and (max-width: 768px){
    .icons{
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        font-size: 2rem;
        color: #E0C097;

    }

    .icons:before {
        content: "\2630";
    }

    .active .icons:before{
        content:"\2715";
    }

    div.menu {
        position: fixed;
        left: -100%;
        top: 5.05rem;
        width: 40%;
        text-align: center;
        transition: 0.25s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav.active div.menu {
        left: 0;
    }

    div.menu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding: 0;
    }

    ul li{
        background-color:#B85C38;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    ul li a {
        width: 100%;

    }

    ul li:hover{
        background-color: #493A3A;
    }


     /* Footer media */

    .mail {
        width: 50%;
        border-right: 2px solid #f1efef;
    }

    .mail h4 {
        display: none;        
    }

    .iconeMail {
        height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    }

    .jenesaispaslaquelle{
        display: flex;
        justify-content: space-around;
    }

    .horaires {
        display: none;
        width: 50%;
    }

    .réseau {        
        width: 50%;
        border-left: none;             
    }

    .flexiconeréseau {
        display: flex;
        gap: 0.8rem;
    }

    .réseau h4 {
        display: none;
    }
       

}