/* SECTION */

.menuPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:0;
}


.section div {
  width: 100%;
}

.section .img-back {
  width: 100%;

}

h1 {
  margin-top: 3.4rem;
  color: rgb(255, 255, 255);
}

.section {
  width: 100%;
  margin: 2.6rem 0;
  position: relative;
}

article.article-kyliann{
  width: 70%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0c097;
  border-radius: 7px;
  border: 1px 1px 1px solid black;
  margin: 3rem 0;
  color: #5c3d2e;
}

article.article-kyliann img{
  width: 50%;
  height: 100%;
  background-size: contain;
  border-radius: 7px;
}

article.article-kyliann .card-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.article-kyliann .card-info h2{
  margin: 2rem 0;
}

article.article-kyliann .card-info ul{
  list-style: none;
}

article.article-kyliann .card-info li{
  margin: 1rem 0;
}




@media screen  and (max-width: 768px){
  .menuPage {
    position: relative;
  }
}