@keyframes tonext {
    75% {
      left: 0;
    }
  
    95% {
      left: 100%;
    }
  
    98% {
      left: 100%;
    }
  
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
  
    95% {
      left: -300%;
    }
  
    98% {
      left: -300%;
    }
  
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
  
    97% {
      scroll-snap-align: none;
    }
  
    99% {
      scroll-snap-align: none;
    }
  
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  
  .nosboutons{
    display: flex;
    width: 10%;
    align-items: center;
    
  
  }
  
  .nosboutons button {
    border-style: none;
    background-color: #493a3a;
    
  
  }
  
 
  
  .language img {
    width: 3rem;
    height: 3rem;
  }
  
  
  
  section {
    width: 60%;
    
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: "Lato", sans-serif;
    height: 100%;
    
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 27%;
    filter: drop-shadow(0 0 20px #0003);
    perspective: 100px;
    background-color: none;
    z-index: 1;
    height: 100%;
    
  
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    display: flex;
    flex: 0 0 100%;  
    background-color: none;
    background-image: url("../assets/About_Us/EN/photo_carousel_EN.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    height: 100%;
    width: auto;
  }
  
  .carousel__slide:nth-child(2) {
    background-image: url("../assets/About_Us/EN/photo_carousel_slide_2_EN.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    height: 100%
  
  
  
  }
  
  .carousel__slide:nth-child(3) {
    background-image: url("../assets/About_Us/EN/photo_carousel_slide_3_EN.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    height: 100%;
    
  
  }
  
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #2d2424;
    background-clip: content-box;
    opacity: 30%;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .teamBarbu {
    position: absolute;
    display: flex;
    margin-top: 3.075rem;  
    background-image: url("../assets/About_Us/Background_main_aboutus.jpg");
    background-position: top;
    background-size: cover;
    height: 80%;
    width: 100%;  
  }
  
  
  
  .equipe { 
    /* position : relative; */
    
    margin: 0 10rem 0 10rem;
    color: beige;
    font-size: large;
    text-align: center;
    padding-bottom: 2.5rem;
    
  }
  
  .barbuCarousel {
    height: 100%;
  }
  
  .profilEquipe {
    padding-top: 70rem;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    
  }
  
  .profilEquipe h1 {
    margin: 4rem;
    font-size: 3rem;
    padding-top: 1.5rem;
    
  }
  
  section.profilEquip hr {
    width: 40%;
    margin: 3rem auto;
    background-color: #f1efef;
    height: 2px;
    border: none;
    
  }
  
  
  
  article {
    display: inline-block;  
    padding: 1rem;
    margin: 0 1rem 1rem;
    width: 45%;
    border-radius: .5rem;
    background-color: #493a3a;
    box-shadow: -2px 5px 10px rgb(0 0 0 / 20%);
    color: #e0c097;
    overflow: auto;
  }
  
  article img {
    width: 15%;
    min-width: 3rem;
    height: 15%;
  }
  
  .motdefin {
    margin: 3rem;
    padding-top: 2.5rem;
    font-size: 1.5rem;  
  }
  
  
  @media screen and (max-width: 768px){
  
  
  .carousel {
    display: none;
  }
  
  .profilEquipe {
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding-top: 55rem;
    
  
  }
  
  article {
    width: 80%;
    
  }
  
  
  
  
  
  
  
  }