body {

  align-items: center;
  background-image: url("../assets/Contact/main_contact.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #493A3A;
  padding: 2rem;
  border-radius: 30px;
  color: #e0c097;
  align-items: center;
  -webkit-box-shadow: 0px 11px 9px 2px rgba(0, 0, 0, 0.85);
  box-shadow: 10px 11px 9px 2px rgba(0, 0, 0, 0.85);
  width: 60%;
}

form h2 {
  text-align: center;
  font-size: 2.2rem;
}
form h3{
  text-align:center;
  width: 80%; 
}

form hr {
  margin: 10px 0;
  border: 0;
  height: 1px;
  width: 100%;
}

.identite, .contactclients {
  display: flex;
  width: 80%;
  height: 4rem;
  justify-content: space-between; 
}

.identite div {
  display: flex;
  flex-direction: column;
  width: 49%;
}


.contactclients div {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.message {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.7rem; 
}

.message div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message #message {
  height: 8rem;
 resize: none;
}

label {
  margin-bottom: 0.3rem;
}

form input,
select {
  margin-bottom: 5px;
  padding: 5px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

input:focus {
  border: 1px solid;
}

form button {
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 8rem;
  background-color: #e0c097;
  color: #2d2424;
  border-radius: 7px;
  border: none;
  font-family: 'Roboto', sans-serif;
}

footer{
  margin-top: 22%;
}

@media screen and (max-width: 768px)  {
 h3  {
text-align:center ;
 overflow: auto;
 width: auto;
 }

 h2 {
width: auto;
 }

  form {
display: flex;
width: 80%;
align-items: center;
padding-left: 5rem;
padding-right: 5rem;
background-size:cover ;
  }

  .identite, .contactclients {
flex-direction: column;
display: flex;
align-items: center;
width: 80%;
}

.contactclients {
margin-top: 3rem;
margin-bottom: 3rem;
}

.message {
width: 20rem ;
}

}
  
