*{
    margin: 0;
    padding: 0;
}
/*NavBar Opé*/
 nav {
    top: 5rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.icons {
    cursor: pointer;
    display: none;
}

.navleft, .navright {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #493A3A;
width: 50%;
height: 3.75rem;
}


.navleft ul {
display: flex;
width: 80%;
list-style: none;
gap: 0.5rem;
justify-content: space-around;
align-items: center;

}

.navright ul {
    display: flex;
    padding-left: 15%;
    width: 80%;
    list-style: none;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

a {
font-size: 1.5rem;
text-decoration: none;
color: #E0C097;
}

.centerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -3.6rem;
    background-color: white;
    width: 7.2rem;
    height: 9.3rem;
    border-radius: 50%;

}

.logo {
    height: 6.25rem;
    align-items: center;
}

.navright {
    display: flex;
    background-color: #493A3A;
    width: 50%;
    height: 3.75rem;
}

@media screen and (max-width: 768px){
    .icons{
        display: block;
        padding-left: 1rem;
        padding-bottom: 0.2rem;
        font-size: 2rem;
        color: #E0C097;

    }

    .icons:before {
        content: "\2630";
    }

    .active .icons:before{
        content:"\2715";
    }

    .navleft ul{
        position: fixed;
        left: -100%;
        top: 15%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        text-align: center;
        transition: (1.19, 0.25s);
        gap:0;
        height: 7rem;
    }

    .navright ul{
        position: fixed;
        padding-left: 0;
        left: -100%;
        top: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        text-align: center;
        transition: (1.19, 0.25s);
        gap:0;
    }

    .navright li, .navleft li{
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #B85C38;
    }

    li a {
        text-align: center;
    }

    nav.active ul {
        left: 0;
    }


    nav li {
        padding: 0rem 0;
        
    }

    nav li:hover{
        
        background-color: #2D2424;
    }
} */

/*Test NavBar*/
 nav {
    top: 5rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 3.75rem;
    background-color:  #493A3A;
}

.icons {
    cursor: pointer;
    display: none;
}

.centerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -3.6rem;
    margin-top: -2.8rem;
    background-color: #E0C097;
    width: 7.2rem;
    height: 9.3rem;
    border-radius: 50%;
}

.logo {
    height: 6.25rem;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 50%;
}
ul.menuLeft{
    padding-right: 2.5rem;
}

ul.menuRight{
    padding-left: 2.5rem;
 
}

ul li {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: #E0C097;
}

ul li:hover{
    background-color: #B85C38;
    color: #5C3D2E;
} 

/*Media Query*/
@media screen and (max-width: 768px){
    .icons{
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        font-size: 2rem;
        color: #E0C097;

    }

    .icons:before {
        content: "\2630";
    }

    .active .icons:before{
        content:"\2715";
    }

    div.menu {
        position: fixed;
        left: -100%;
        top: 8.75rem;
        width: 40%;
        text-align: center;
        transition: 0.25s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav.active div.menu {
        left: 0;
    }

    div.menu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding: 0;
    }

    ul li{
        background-color:#B85C38;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    ul li a {
        width: 100%;

    }

    ul li:hover{
        background-color: #493A3A;
    }

}