@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Genéral*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    width: 100%;
    height : 100%; 
}

body {
    background-color: #E0C097;
    min-height: 100%;
}


/*DarkMode*/
.darkmode {
    background-color: #493A3A;    
}


.darkmodebtn {
    width: 50%;
    /* background-color: #493A3A; */
    border: calc(var(--sizeX) / 10) solid var(--color);
    font-size: calc(1rem + 1vw);
  }

body.darkmode {
    background-color: #493A3A;
}

input.darkmode {
    background-color: #E0C097;
}

input.darkmode:-webkit-autofill {
        background-color: #E0C097 !important;
        color: black;
        transition: background-color 600000s 0s, color 600000s 0s;
}

input:-webkit-autofill {
    background-color: #E0C097 !important;
    color: white;
    transition: background-color 600000s 0s, color 600000s 0s;
}

select.darkmode, textarea.darkmode {
    background-color: #E0C097;
    color: black;
}

.darkmodebtn::after {
    content: "🌑";

  }
  
.darkmodebtn.darkmode::after {
    content: "☀️";
  }

.centerCircle.darkmode {
    background-color: #c8ad7f;
}

.motdefin.darkmode {
    color: #e0c097;
}

.profilEquipe h1.darkmode {
    color: #e0c097;
}

footer.darkmode {
    border-top: 2px solid #fff;
}

/*NavBar*/
 nav {
    z-index:3;
    top: 1.3rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 3.75rem;
    background-color:  #493A3A;
}

div.div_vide{
    width: 10%;
}

.icons {
    cursor: pointer;
    display: none;
}

.centerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -3.6rem;
    margin-top: -2.8rem;
    background-color: #E0C097;
    width: 7.2rem;
    height: 9.3rem;
    border-radius: 50%;
}

.logo {
    height: 6.25rem;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 40%;
}
nav ul.menuLeft{
    padding-right: 2.5rem;
}

nav ul.menuRight{
    padding-left: 2.5rem;
}

nav .nosboutons{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav .nosboutons button{
    border-style: none;
    background: none;
    width: 50%;
}

nav .nosboutons img{
    width: calc(1.5rem + 2vw);
    height: calc(1.5rem + 2vw);
}


nav ul li {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: calc(1rem + 1vw);
}

nav ul li a {
    text-decoration: none;
    color: #E0C097;
}

nav ul li:hover{
    background-color: #B85C38;
    color: #5C3D2E;
} 


option:checked, option:hover {
    background-color: #B85C38;
}

input {
    background-color: whitesmoke;
}

select {
    background-color: whitesmoke;
}


/* Footer */ 

footer {    
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #493A3A;
    color: #e0c097;
    padding-top: 1rem;
    clear: both;
}


.contentInfos {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.réseau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;     
    height: 4.375rem;

}

.mail{
    width: 30%;
}

div.mail a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #e0c097;
      
}

.mailFooter {
   padding-left: 0.5rem;
   font-size: 1.5rem;
   
}


.iconeMail {  
    display: flex;  
    height: 2rem;
    width: 2rem;
    padding-bottom: 0.4rem;       
}


.iconeRéseau {
    height: 2.5rem;
    width: 2.5rem;
    fill: #e0c097;
    
}

.mention {    
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.contentInfos h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;    
}

.contentInfos .horaires {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 4.375rem;     
}


.flexiconeréseau {
    display: flex;
    justify-content: space-around;
    fill: #e0c097;
    gap: 1.5rem;
}

.contentInfos hr{
    height: 5rem;
}



/*Media Query*/
@media screen and (max-width: 768px){

    /*NavBar Media*/
div.div_vide{
    display: none;;
}

    .icons{
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        font-size: 2rem;
        color: #E0C097;
    }

    .icons:before {
        content: "\2630";
    }

    .active .icons:before {
        content:"\2715";
    }

    div.menu {
        position: fixed;
        left: -100%;
        top: 5.05rem;
        width: 40%;
        text-align: center;
        transition: 0.25s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav.active div.menu {
        left: 0;
    }

    div.menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding: 0;
    }

    nav ul li{
        background-color:#B85C38;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    nav ul li a {
        width: 100%;
    }

    nav ul li:hover{
        background-color: #493A3A;
    }

    /* Footer Media */

    .mail {
        width: 50%;
       
    }

    .iconeMail {
        height: 2.5rem;
        width: 2.5rem;
        padding: 0;
    }

    .jenesaispaslaquelle{
        display: flex;
        justify-content: space-around;
    }


    .réseau {        
        width: 50%;
               
    }

    .flexiconeréseau {
        display: flex;
        gap: 0.8rem;
    }

    .contentInfos h4, .barre1, .contentInfos .horaires {
        display: none;
    }

}
