*{
    margin: 0;
    padding: 0;
   
  
}

/*NavBar*/
 nav {
    z-index: 3;
    top: 1.3rem;
    position: relative;
    display: flex;
    width: 100%;
    height: 3.75rem;
    background-color:  #493A3A;
}

.icons {
    cursor: pointer;
    display: none;
}

.centerCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -3.6rem;
    margin-top: -2.8rem;
    background-color: #E0C097;
    width: 7.2rem;
    height: 9.3rem;
    border-radius: 50%;
}

.logo {
    height: 6.25rem;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 50%;
}
ul.menuLeft{
    padding-right: 2.5rem;
}

ul.menuRight{
    padding-left: 2.5rem;
 
}

ul li {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

nav ul li a{
    text-decoration: none;
    color: #E0C097;
}

ul li:hover{
    background-color: #B85C38;
    color: #5C3D2E;
} 

/*Media Query*/
@media screen and (max-width: 768px){
    .icons{
        display: block;
        padding-left: 1rem;
        padding-top: 0.5rem;
        font-size: 2rem;
        color: #E0C097;

    }

    .icons:before {
        content: "\2630";
    }

    .active .icons:before{
        content:"\2715";
    }

    div.menu {
        position: fixed;
        left: -100%;
        top: 5.05rem;
        width: 40%;
        text-align: center;
        transition: 0.25s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav.active div.menu {
        left: 0;
    }

    div.menu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding: 0;
    }

    ul li{
        background-color:#B85C38;
        width: 100%;
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    ul li a {
        width: 100%;

    }

    ul li:hover{
        background-color: #493A3A;
    }

}
